# Core Data Analysis
pandas>=2.1.0
numpy>=1.26.0
matplotlib>=3.8.0
ipykernel
seaborn
# Machine Learning
scikit-learn
scipy
xgboost
lightgbm
shap
# Visualization
vtk
pyvista
plotly
#Deep Learning
tensorflow